$color:#f78a24;
/*common*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
    &:link,&:visited,&:hover,&:active{
        color: #333;
    }
}
button,input,label,select,a{
    -webkit-appearance: none;
    border:0;
    background: 0 0;
    font: inherit;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
img{
    vertical-align: middle;
    border: 0;
}
/*text*/
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
h1{font-size: 18px;}
h2{font-size: 17px;}
h3{font-size: 16px;}
h4{font-size: 15px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
.om-txt{
    padding: 0 15px 10px;
    line-height: 1.5;
}
.om-txt-left{
    text-align: left;
}
.om-txt-right{
    text-align: right;
}
.om-txt-center{
    text-align: center;
}
.om-txt-justify-line{
    text-align: justify;
    height: 25px;
    &:after {
        display: inline-block;
        content: '';
        width: 100%;
        height: 0;
    }
}
.om-txt-justify{
    text-align: justify;
}
.om-color-default{
    color: $color;
}
.om-color-red{
    color: #f74c31;
}
.om-color-blue{
    color: #00a5e0;
}
.om-color-gray{
    color: #aaa;
}
/*grid*/
.om-grid-row{
    margin: 0 auto;
    width: 100%;
    [class*=om-grid-col-]{
        position: relative;
        float: left;
    }
    [class*=om-grid-equal-]{
        height: 0;
        overflow: hidden;
    }
    .om-grid-col-10{
        width: 10%;
    }
    .om-grid-col-20{
        width: 20%;
    }
    .om-grid-col-25{
        width: 25%;
    }
    .om-grid-col-33{
        width: 33.33333333%;
    }
    .om-grid-col-50{
        width: 50%;
    }
    .om-grid-col-66{
        width: 66.66666666%;
    }
    .om-grid-col-75{
        width: 75%;
    }
    .om-grid-col-80{
        width: 80%;
    }
    .om-grid-col-90{
        width: 90%;
    }
    .om-grid-equal-25{
        padding-bottom: 25%;
    }
    .om-grid-equal-33{
        padding-bottom: 33%;
    }
    .om-grid-equal-50{
        padding-bottom: 50%;
    }
    .om-grid-equal-66{
        padding-bottom: 66%;
    }
    &:after,&:before {
        content: " ";
        display: table
    }
    &:after {
        clear: both
    }
}
.om-grid-center{
    text-align: center;
}
/*icon*/
@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1470218198_0141077.eot'),
    url('//at.alicdn.com/t/font_1470218198_0141077.woff') format('woff'),
    url('//at.alicdn.com/t/font_1470218198_0141077.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1470218198_0141077.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.icon-hot:before { content: "\e629"; }
.icon-share-full:before { content: "\e62a"; }
.icon-swing:before { content: "\e62b"; }
.icon-comments:before { content: "\e62c"; }
.icon-shut-down:before { content: "\e62d"; }
.icon-phone-book:before { content: "\e60d"; }
.icon-delete:before { content: "\e60f"; }
.icon-edit:before { content: "\e610"; }
.icon-eye:before { content: "\e612"; }
.icon-share:before { content: "\e613"; }
.icon-setting:before { content: "\e614"; }
.icon-close:before { content: "\e615"; }
.icon-close-full:before { content: "\e616"; }
.icon-heart:before { content: "\e617"; }
.icon-heart-full:before { content: "\e618"; }
.icon-tags:before { content: "\e619"; }
.icon-change:before { content: "\e61a"; }
.icon-password:before { content: "\e61b"; }
.icon-close-big:before { content: "\e61c"; }
.icon-time:before { content: "\e60e"; }
.icon-position:before { content: "\e611"; }
.icon-position-full:before { content: "\e61f"; }
.icon-eye-full:before { content: "\e620"; }
.icon-scan:before { content: "\e621"; }
.icon-star:before { content: "\e622"; }
.icon-star-full:before { content: "\e623"; }
.icon-comment:before { content: "\e624"; }
.icon-eye-hidden:before { content: "\e625"; }
.icon-email:before { content: "\e626"; }
.icon-home-full:before { content: "\e627"; }
.icon-home:before { content: "\e628"; }
.icon-cart-full:before { content: "\e601"; }
.icon-cart:before { content: "\e602"; }
.icon-user-full:before { content: "\e603"; }
.icon-checkmark:before { content: "\e60a"; }
.icon-checkmark-full:before { content: "\e609"; }
.icon-user:before { content: "\e604"; }
.icon-form:before { content: "\e605"; }
.icon-horn:before { content: "\e606"; }
.icon-search:before { content: "\e607"; }
.icon-left:before { content: "\e600"; }
.icon-more:before { content: "\e608"; }
.icon-more-vertical:before { content: "\e60b"; }
.icon-right:before { content: "\e60c"; }
.icon-picture-copy:before { content: "\e61d"; }
.icon-refurbish:before { content: "\e61e"; }
/*layout*/
.om-layout{
    padding:10px 10px 0;
    margin-bottom: 10px;
}
.om-layout-ul-3,.om-layout-ul-4{
    li{
        float: left;
        text-align: center;
    }
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}
.om-layout-ul-3{
     li{
         width: 33.33%;
     }
}
.om-layout-ul-4{
    li{
        width: 25%;
    }
}
.om-layout-table{
    display: table;
    width: 100%;
    li{
        display: table-cell;
    }
}
/*txtcut*/
.om-ellipsis{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.om-ellipsis-two{
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
/*header*/
.om-header{
    position: relative;
    width: 100%;
    height: 49px;
    line-height: 49px;
    z-index: 999;
    .om-header-title{
        display: block;
        padding:0 20%;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    a.om-header-left{
        position: absolute;
        left: 10px;
        top: 0;
    }
    a.om-header-right{
        position: absolute;
        right: 10px;
        top: 0;
    }
    a.om-header-left,a.om-header-right{
        min-width: 40px;
        height: 49px;
        text-align: center;
        .iconfont{
            font-size: 20px;
        }
        .om-header-nav-btn{
            padding:0 3px;
            font-size: 14px;
        }
    }
}
.om-header-default{
    background-color: $color;
    color: #fff;
    a.om-header-left,a.om-header-right{
        color: #ffffff;
    }
}
.om-header-fixed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    ~.om-container{
        padding-top: 50px;
    }
}
/*footer*/
.om-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    line-height: 56px;
    z-index: 999;
    .om-footer-on{
        color: $color;
    }
    ~.om-container{
        padding-bottom: 57px;
    }
}
/*tags*/
.om-tags{
    display: inline-block;
    padding: 0 15px;
    margin:0 10px 10px 0;
    height: 30px;
    line-height: 28px;
    border-radius: 15px;
    border:1px solid #ddd;
    font-size: 15px;
}
.om-tags-s{
    display: inline-block;
    color:#999;
    font-size: 14px;
}
/*red dot*/
.om-reddot-s{
    position: relative;
    padding:0 5px;
    &:after{
        position: absolute;
        right: -4px;
        top: -3px;
        content:'';
        width:8px;
        height: 8px;
        border-radius: 4px;
        background: #f74c31;
    }
}
.om-reddot-num{
    position: absolute;
    right: -9px;
    top: -9px;
    width:18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 9px;
    background: #f74c31;
    color: #fff;
    font-size: 12px;
}
.om-reddot-before{
    display: inline-block;
    width:18px;
    height: 18px;
    margin-right: 5px;
    line-height: 18px;
    text-align: center;
    border-radius: 9px;
    background: #f74c31;
    color: #fff;
    font-size: 12px;
}
/*button*/
.om-btn-s,.om-btn,.om-btn-b{
    min-width: 55px;
    height: 30px;
    line-height: 30px;
    padding:0 10px;
    display: inline-block;
    text-align: center;
    border:1px solid #cacccd;
    border-radius: 3px;
    background: #fdfdfd;
    font-size: 15px;
    color: $color;
}
.om-btn-s{
    min-width: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}
.om-btn-b{
    width: 100%;
    height: 35px;
    line-height: 35px;
    display: block;
    font-size: 17px;
}
.om-btn-s,.om-btn,.om-btn-b{
    &.om-btn-default{
        background: $color;
        border:1px solid $color;
        color: #fff;
    }
    &.om-btn-gray{
        border:1px solid #dddddd;
        color: #ccc;
    }
}
.om-btn-group{
    display: inline-block;
    border:1px solid #cacccd;
    border-radius: 3px;
    overflow: hidden;
    .om-btn{
        float: left;
        border:0;
        border-left: 1px solid #cacccd;
        border-radius: 0;
        &:hover,&active{
            background: #e5e5e5;
        }
        &:first-child{
            border-left: 0;
        }
    }
    &:after{
        content: '';
        display: table;
        clear: both;
    }
    &.om-btn-default{
        border:1px solid $color;
        color: #fff;
        .om-btn{
            border-left: 1px solid #DE7B00;
            background: $color;
            color: #fff;
            &:hover,&active{
                background: #F5771B;
            }
            &:first-child{
                border-left: 0;
            }
        }
    }
}
/*form*/
.om-form{
    position: relative;
    height: 40px;
    line-height: 40px;
    .om-form-input{
        width: 100%;
        height: 40px;
        padding:5px;
        font-size: 16px;
        color: #333;
    }
    .icon-close-full,.icon-close{
        position: absolute;
        right: 0;
        top: 2px;
        font-size: 20px;
        color: #777;
    }
    &.om-form-label{
        label{
            position: absolute;
            left: 0;
            top: 0;
            color: #999;
        }
        .om-form-input{
            padding-left: 70px;
        }
    }
    &.om-form-captcha{
        .om-form-input{
            width: 65%;
        }
        .om-btn-captcha{
            position: absolute;
            right: 0;
            top: 2px;
            width: 30%;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border-radius: 3px;
            background: $color;
            color: #fff;
        }
        .icon-close-full,.icon-close{
            right:33%;
        }
    }
    &.om-form-border{
        margin-bottom: 10px;
        .om-form-input{
            height: 40px;
            line-height: 40px;
            padding: 5px 5px 5px 25px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
        [class*=icon-]{
            position: absolute;
            left: 5px;
            top: 0;
            font-size: 17px;
            color: #bbb;
        }
    }
}
.om-select{
    position: relative;
    height: 40px;
    line-height: 40px;
    select{
        width: 100%;
        padding-right: 20px;
        font-size: 14px;
        color: #333;
    }
    &:after{
        position: absolute;
        right: 5px;
        top: 50%;
        width: 0;
        height: 0;
        margin-top: -2px;
        border-top: 6px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: #a6a6a6;
        content: "";
    }
    &.om-select-label{
        label{
            position: absolute;
            left: 0;
            top: 0;
            color: #999;
        }
        select{
            padding-left: 70px;
        }
    }
}
.om-select-group{
    .om-select{
        float: left;
    }
    &:after{
        content: '';
        display: table;
        clear: both;
    }
    &.om-select-label{
        position: relative;
        padding-left: 70px;
        line-height: 40px;
        label{
            position: absolute;
            left: 0;
            top: 0;
            color: #999;
        }
    }
}
.om-checkbox{
    position: relative;
    padding-left: 30px;
    input[type=checkbox]{
        position: absolute;
        left: 0;
        top: 10px;
        width: 20px;
        height: 1px;
        z-index:1;
    }
    input[type=checkbox]~.om-checkbox-icon{
        position: absolute;
        left: 0;
        top: 1px;
        width: 20px;
        height: 20px;
        border:2px solid #eee;
        border-radius: 15px;
        i.iconfont{
            display: none;
            font-size: 23px;
            color: $color;
            &:before{
                position: absolute;
                left: -2px;
                top: -7px;
                width: 23px;
                height: 23px;
            }
        }
    }
    input[type=checkbox]:checked~.om-checkbox-icon{
        border: 0;
        i{
            display: inline-block;
        }
    }
}
.om-radio{
    position: relative;
    padding-left: 30px;
    input[type=radio]{
        position: absolute;
        left: 0;
        top: 10px;
        width: 20px;
        height: 1px;
        z-index:1;
    }
    input[type=radio]~.om-radio-icon{
        position: absolute;
        left: 0;
        top: 1px;
        width: 20px;
        height: 20px;
        text-align: center;
        border:2px solid #eee;
        border-radius: 15px;
        i{
            position: absolute;
            left: 4px;
            top: 4px;
            width: 8px;
            height: 8px;
            border-radius: 5px;
        }
    }
    input[type=radio]:checked~.om-radio-icon{
        i{
            background: $color;
        }
    }
}
/*img*/
.om-img{
    display: block;
    max-width: 100%;
    margin:auto;
}
.om-img-radius{
    border-radius: 5px;
}
.om-img-circle{
    border-radius: 50%;
}
/*list*/
.om-list-box{
    padding-left: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .om-list{
        position: relative;
        padding: 10px 5px 10px 5px;
        line-height: 25px;
        border-top: 1px solid #eee;
        .om-list-img{

        }
    }
    .om-list:first-child{
        border-top: 0;
    }
    &.om-list-link,&.om-list-article{
        .om-list{
            padding-right: 25px;
            &:after{
                position: absolute;
                right: 5px;
                top: 50%;
                margin-top: -12px;
                content: "\e60c";
                font-family:"iconfont";
                color: #aaa;
            }
        }

    }
    &.om-list-article{
        .om-list{
            padding-left: 60px;
            .om-list-img{
                position: absolute;
                left: 0;
                top: 10px;
                width: 50px;
                height: 50px;
            }
            &.om-list-big{
                padding-left: 85px;
                .om-list-img{
                    width: 75px;
                }
            }
        }

    }
    .om-list-title,.om-list-disc{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .om-list-disc{
        color: #999;
        font-size: 14px;
        span{
            margin-right: 20px;
            font-size: 12px;
        }
    }
}
/*table*/
.om-table{
    width: 100%;
    border: 0;
    border-spacing: 0;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    th,td{
        font-weight: normal;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        &:first-child{
            border-left: 0;
        }
    }
}
/*search*/
.om-search{
    position: relative;
    height: 55px;
    padding: 10px 75px 10px 10px;
    background: #e6e4e1;
    &.om-search-default{
        background: $color;
        .om-search-btn{
            color: $color;
        }
    }
    .om-search-icon{
        position: absolute;
        left: 18px;
        top: 15px;
        width: 18px;
        height: 18px;
    }
    .om-search-close{
        position: absolute;
        right: 75px;
        top: 15px;
        width: 23px;
        height: 23px;
        .iconfont{
            font-size: 20px;
        }
    }
    .om-search-input{
        width: 100%;
        height: 35px;
        padding: 0 10px 0 30px;
        font-size: 16px;
        border-radius: 5px;
        background: #fff;
        color: #333;
    }
    .om-search-btn{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 55px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 3px;
        color: #333;
        background: #fff;
    }
    .iconfont{
        color: #999;
    }
}