$color:#f78a24;
body{
    font-family: "microsoft yahei", arial, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 16px;
    color: #333;
}
.om-list-box{
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    .om-list{
        padding-left: 10px;
        line-height: 45px;
        border-top: 1px solid #eee;
    }
    .om-list:first-child{
        border-top: 0;
    }
}
.om-container{
    [class*=om-grid-col-]{
        height: 30px;
        line-height: 30px;
        background: #dcdcdc;
        border-left:1px solid #eeeeee;
        border-right:1px solid #eeeeee;
        margin-bottom:2px;
    }
    [class*=om-grid-equal-]{
        border:0;
        margin:0;
        padding-left: 2px;
        padding-right: 2px;
        background: #fff;
    }
    [class*=om-grid-equal-] img{
        width: 100%;
    }
    [class*=om-grid-equal-].mg-top2{
        margin-top: 2px;
    }
    [class*=om-grid-equal-].mg-top1{
        margin-top: 1px;
    }
    .om-title{
        margin:10px 0;
        padding-left: 10px;
        border-left: 3px solid $color;
    }
}
.om-footer{
    background: #f3f1f1;
}