/*common*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  color: #333;
}

button, input, label, select, a {
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
  font: inherit;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

img {
  vertical-align: middle;
  border: 0;
}

/*text*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.om-txt {
  padding: 0 15px 10px;
  line-height: 1.5;
}

.om-txt-left {
  text-align: left;
}

.om-txt-right {
  text-align: right;
}

.om-txt-center {
  text-align: center;
}

.om-txt-justify-line {
  text-align: justify;
  height: 25px;
}
.om-txt-justify-line:after {
  display: inline-block;
  content: '';
  width: 100%;
  height: 0;
}

.om-txt-justify {
  text-align: justify;
}

.om-color-default {
  color: #f78a24;
}

.om-color-red {
  color: #f74c31;
}

.om-color-blue {
  color: #00a5e0;
}

.om-color-gray {
  color: #aaa;
}

/*grid*/
.om-grid-row {
  margin: 0 auto;
  width: 100%;
}
.om-grid-row [class*=om-grid-col-] {
  position: relative;
  float: left;
}
.om-grid-row [class*=om-grid-equal-] {
  height: 0;
  overflow: hidden;
}
.om-grid-row .om-grid-col-10 {
  width: 10%;
}
.om-grid-row .om-grid-col-20 {
  width: 20%;
}
.om-grid-row .om-grid-col-25 {
  width: 25%;
}
.om-grid-row .om-grid-col-50 {
  width: 50%;
}
.om-grid-row .om-grid-col-75 {
  width: 75%;
}
.om-grid-row .om-grid-col-80 {
  width: 80%;
}
.om-grid-row .om-grid-col-90 {
  width: 90%;
}
.om-grid-row .om-grid-col-33 {
  width: 33.33333333%;
}
.om-grid-row .om-grid-col-66 {
  width: 66.66666666%;
}
.om-grid-row .om-grid-equal-25 {
  padding-bottom: 25%;
}
.om-grid-row .om-grid-equal-33 {
  padding-bottom: 33%;
}
.om-grid-row .om-grid-equal-50 {
  padding-bottom: 50%;
}
.om-grid-row .om-grid-equal-66 {
  padding-bottom: 66%;
}
.om-grid-row:after, .om-grid-row:before {
  content: " ";
  display: table;
}
.om-grid-row:after {
  clear: both;
}

.om-grid-center {
  text-align: center;
}

/*icon*/
@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1470454865_9598858.eot"), url("//at.alicdn.com/t/font_1470454865_9598858.woff") format("woff"), url("//at.alicdn.com/t/font_1470454865_9598858.ttf") format("truetype"), url("//at.alicdn.com/t/font_1470454865_9598858.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}

.icon-hot:before {
  content: "\e629";
}

.icon-share-full:before {
  content: "\e62a";
}

.icon-swing:before {
  content: "\e62b";
}

.icon-comments:before {
  content: "\e62c";
}

.icon-shut-down:before {
  content: "\e62d";
}

.icon-phone-book:before {
  content: "\e60d";
}

.icon-delete:before {
  content: "\e60f";
}

.icon-edit:before {
  content: "\e610";
}

.icon-eye:before {
  content: "\e612";
}

.icon-share:before {
  content: "\e613";
}

.icon-setting:before {
  content: "\e614";
}

.icon-close:before {
  content: "\e615";
}

.icon-close-full:before {
  content: "\e616";
}

.icon-heart:before {
  content: "\e617";
}

.icon-heart-full:before {
  content: "\e618";
}

.icon-tags:before {
  content: "\e619";
}

.icon-change:before {
  content: "\e61a";
}

.icon-password:before {
  content: "\e61b";
}

.icon-close-big:before {
  content: "\e61c";
}

.icon-time:before {
  content: "\e60e";
}

.icon-position:before {
  content: "\e611";
}

.icon-position-full:before {
  content: "\e61f";
}

.icon-eye-full:before {
  content: "\e620";
}

.icon-scan:before {
  content: "\e621";
}

.icon-star:before {
  content: "\e622";
}

.icon-star-full:before {
  content: "\e623";
}

.icon-comment:before {
  content: "\e624";
}

.icon-eye-hidden:before {
  content: "\e625";
}

.icon-email:before {
  content: "\e626";
}

.icon-home-full:before {
  content: "\e627";
}

.icon-home:before {
  content: "\e628";
}

.icon-cart-full:before {
  content: "\e601";
}

.icon-cart:before {
  content: "\e602";
}

.icon-user-full:before {
  content: "\e603";
}

.icon-checkmark:before {
  content: "\e60a";
}

.icon-checkmark-full:before {
  content: "\e609";
}

.icon-user:before {
  content: "\e604";
}

.icon-form:before {
  content: "\e605";
}

.icon-horn:before {
  content: "\e606";
}

.icon-search:before {
  content: "\e607";
}

.icon-left:before {
  content: "\e600";
}

.icon-more:before {
  content: "\e608";
}

.icon-more-vertical:before {
  content: "\e60b";
}

.icon-right:before {
  content: "\e60c";
}

.icon-picture-copy:before {
  content: "\e61d";
}

.icon-refurbish:before {
  content: "\e61e";
}

.icon-box:before {
  content: "\e634";
}

.icon-box-check:before {
  content: "\e635";
}

.icon-radio:before {
  content: "\e632";
}

.icon-radio-check:before {
  content: "\e633";
}

.icon-cate:before {
  content: "\e630";
}

.icon-cate-full:before {
  content: "\e631";
}

/*layout*/
.om-layout {
  padding: 10px 10px 0;
  margin-bottom: 10px;
}

.om-layout-ul-3 li, .om-layout-ul-4 li {
  float: left;
  text-align: center;
}
.om-layout-ul-3:after, .om-layout-ul-4:after {
  content: '';
  display: table;
  clear: both;
}

.om-layout-ul-3 li {
  width: 33.33%;
}

.om-layout-ul-4 li {
  width: 25%;
}

.om-layout-table {
  display: table;
  width: 100%;
  height: 100%;
}
.om-layout-table li {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
}

/*txtcut*/
.om-ellipsis, .om-header .om-header-title, .om-list-box .om-list-title, .om-list-box .om-list-disc, .om-actionsheet .om-actionsheet-cnt li, .om-poptips-top, .om-poptips-btm, .om-slider-wrap .om-slider .om-slider-title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.om-ellipsis-two {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*header*/
.om-header {
  position: relative;
  width: 100%;
  height: 49px;
  line-height: 49px;
  background: #e5e5e5;
  z-index: 999;
}
.om-header .om-header-title {
  display: block;
  padding: 0 20%;
  text-align: center;
}
.om-header .om-header-left {
  position: absolute;
  left: 10px;
  top: 0;
}
.om-header .om-header-right {
  position: absolute;
  right: 10px;
  top: 0;
}
.om-header .om-header-left, .om-header .om-header-right {
  min-width: 40px;
  height: 49px;
  text-align: center;
}
.om-header .om-header-left .iconfont, .om-header .om-header-right .iconfont {
  font-size: 20px;
}
.om-header .om-header-left .om-header-nav-btn, .om-header .om-header-right .om-header-nav-btn {
  display: inline-block;
  padding: 0 3px;
  margin-top: -1px;
  vertical-align: middle;
}
.om-header .om-header-span {
  font-size: 14px;
}
.om-header .om-header-span .iconfont {
  font-size: 16px;
}

.om-header-default {
  background-color: #f78a24;
  color: #fff;
}
.om-header-default .om-header-left, .om-header-default .om-header-right {
  color: #ffffff;
}

.om-header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.om-header-fixed ~ .om-container {
  padding-top: 50px;
}

/*footer*/
.om-footer {
  width: 100%;
  height: 56px;
  line-height: 36px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  background: #f3f1f1;
  z-index: 999;
}
.om-footer .om-footer-on {
  color: #f78a24;
}
.om-footer.om-footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
}
.om-footer.om-footer-fixed ~ .om-container {
  padding-bottom: 57px;
}
.om-footer.om-footer-default {
  background: #f78a24;
  color: #dedede;
}
.om-footer.om-footer-default .om-footer-on {
  color: #fff;
}

/*tags*/
.om-tags {
  display: inline-block;
  padding: 0 15px;
  margin: 0 10px 10px 0;
  height: 30px;
  line-height: 28px;
  border-radius: 15px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.om-tags-s {
  display: inline-block;
  color: #999;
  font-size: 14px;
}

/*red dot*/
.om-reddot-s {
  position: relative;
  padding: 0 5px;
}
.om-reddot-s:after {
  position: absolute;
  right: -4px;
  top: -3px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #f74c31;
}

.om-reddot-num, .om-reddot-before {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 9px;
  background: #f74c31;
  color: #fff;
  font-size: 12px;
}

.om-reddot-num {
  position: absolute;
  right: -9px;
  top: -9px;
}

.om-reddot-before {
  display: inline-block;
  margin-right: 5px;
}

/*button*/
.om-btn-s, .om-btn, .om-btn-b {
  min-width: 55px;
  height: 30px;
  line-height: 28px;
  padding: 0 10px;
  display: inline-block;
  text-align: center;
  border: 1px solid #cacccd;
  border-radius: 3px;
  background: #fdfdfd;
  font-size: 15px;
  color: #f78a24;
}
.om-btn-s:hover, .om-btn-s:active, .om-btn:hover, .om-btn:active, .om-btn-b:hover, .om-btn-b:active {
  background: #f3f3f3;
}

.om-btn-s {
  min-width: 50px;
  height: 25px;
  line-height: 23px;
  font-size: 13px;
}

.om-btn-b {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 38px;
  margin-bottom: 10px;
  font-size: 17px;
}

.om-btn-s.om-btn-default, .om-btn.om-btn-default, .om-btn-b.om-btn-default {
  background: #f78a24;
  border: 1px solid #f78a24;
  color: #fff;
}
.om-btn-s.om-btn-default:hover, .om-btn-s.om-btn-default:active, .om-btn.om-btn-default:hover, .om-btn.om-btn-default:active, .om-btn-b.om-btn-default:hover, .om-btn-b.om-btn-default:active {
  background: #F5771B;
}
.om-btn-s.om-btn-gray, .om-btn.om-btn-gray, .om-btn-b.om-btn-gray {
  border: 1px solid #dddddd;
  color: #ccc;
}

.om-btn-group {
  display: inline-block;
  border: 1px solid #cacccd;
  border-radius: 3px;
  overflow: hidden;
}
.om-btn-group .om-btn {
  float: left;
  border-width: 0;
  border-left: 1px solid #cacccd;
  border-radius: 0;
}
.om-btn-group .om-btn:hover, .om-btn-group .om-btn:active {
  background: #e5e5e5;
}
.om-btn-group .om-btn:first-child {
  border-left: 0;
}
.om-btn-group:after {
  content: '';
  display: table;
  clear: both;
}
.om-btn-group.om-btn-default {
  border: 1px solid #f78a24;
  color: #fff;
}
.om-btn-group.om-btn-default .om-btn {
  border-left: 1px solid #DE7B00;
  background: #f78a24;
  color: #fff;
}
.om-btn-group.om-btn-default .om-btn:hover, .om-btn-group.om-btn-default .om-btn:active {
  background: #F5771B;
}
.om-btn-group.om-btn-default .om-btn:first-child {
  border-left: 0;
}

/*form*/
.om-form {
  position: relative;
  height: 40px;
  line-height: 40px;
}
.om-form .om-form-input {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  color: #333;
}
.om-form .icon-close-full, .om-form .icon-close {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  color: #777;
}
.om-form.om-form-label label {
  position: absolute;
  left: 0;
  top: 0;
  color: #999;
}
.om-form.om-form-label .om-form-input {
  padding-left: 70px;
}
.om-form.om-form-captcha .om-form-input {
  width: 65%;
}
.om-form.om-form-captcha .om-btn-captcha {
  position: absolute;
  right: 0;
  top: 2px;
  width: 30%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 3px;
  background: #f78a24;
  color: #fff;
}
.om-form.om-form-captcha .icon-close-full, .om-form.om-form-captcha .icon-close {
  right: 33%;
}
.om-form.om-form-border {
  margin-bottom: 10px;
}
.om-form.om-form-border .om-form-input {
  height: 40px;
  line-height: 40px;
  padding: 5px 5px 5px 25px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.om-form.om-form-border [class*=icon-] {
  position: absolute;
  left: 5px;
  top: 0;
  font-size: 17px;
  color: #bbb;
}

.om-select {
  position: relative;
  height: 40px;
  line-height: 40px;
}
.om-select select {
  width: 100%;
  padding-right: 20px;
  font-size: 14px;
  color: #333;
}
.om-select:after {
  position: absolute;
  right: 5px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 6px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: #a6a6a6;
  content: "";
}
.om-select.om-select-label label {
  position: absolute;
  left: 0;
  top: 0;
  color: #999;
}
.om-select.om-select-label select {
  padding-left: 70px;
}

.om-select-group .om-select {
  float: left;
}
.om-select-group:after {
  content: '';
  display: table;
  clear: both;
}
.om-select-group.om-select-label {
  position: relative;
  padding-left: 70px;
  line-height: 40px;
}
.om-select-group.om-select-label label {
  position: absolute;
  left: 0;
  top: 0;
  color: #999;
}

.om-checkbox {
  position: relative;
  padding-left: 30px;
}
.om-checkbox input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 1px;
  z-index: 1;
}
.om-checkbox input[type=checkbox] ~ .om-checkbox-icon {
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 2px solid #eee;
  border-radius: 15px;
}
.om-checkbox input[type=checkbox] ~ .om-checkbox-icon i.iconfont {
  display: none;
  font-size: 23px;
  color: #f78a24;
}
.om-checkbox input[type=checkbox] ~ .om-checkbox-icon i.iconfont:before {
  position: absolute;
  left: -2px;
  top: -7px;
  width: 23px;
  height: 23px;
}
.om-checkbox input[type=checkbox]:checked ~ .om-checkbox-icon {
  border: 0;
}
.om-checkbox input[type=checkbox]:checked ~ .om-checkbox-icon i {
  display: inline-block;
}

.om-radio {
  position: relative;
  padding-left: 30px;
}
.om-radio input[type=radio] {
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 1px;
  z-index: 1;
}
.om-radio input[type=radio] ~ .om-radio-icon {
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 15px;
}
.om-radio input[type=radio] ~ .om-radio-icon i {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
}
.om-radio input[type=radio]:checked ~ .om-radio-icon i {
  background: #f78a24;
}

/*img*/
.om-img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.om-img-radius {
  border-radius: 5px;
}

.om-img-circle {
  border-radius: 50%;
}

/*list*/
.om-list-box {
  padding-left: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.om-list-box .om-list {
  position: relative;
  padding: 10px 5px 10px 5px;
  line-height: 25px;
  border-top: 1px solid #eee;
}
.om-list-box .om-list:first-child {
  border-top: 0;
}
.om-list-box.om-list-link .om-list, .om-list-box.om-list-article .om-list {
  padding-right: 25px;
}
.om-list-box.om-list-link .om-list:after, .om-list-box.om-list-article .om-list:after {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -12px;
  content: "\e60c";
  font-family: "iconfont";
  color: #aaa;
}
.om-list-box.om-list-article .om-list {
  padding-left: 60px;
}
.om-list-box.om-list-article .om-list .om-list-img {
  position: absolute;
  left: 0;
  top: 10px;
  width: 50px;
  height: 50px;
}
.om-list-box.om-list-article .om-list.om-list-big {
  padding-left: 85px;
}
.om-list-box.om-list-article .om-list.om-list-big .om-list-img {
  width: 75px;
}
.om-list-box .om-list-disc {
  color: #999;
  font-size: 14px;
}
.om-list-box .om-list-disc span {
  margin-right: 20px;
  font-size: 12px;
}

/*table*/
.om-table {
  width: 100%;
  border-width: 0;
  border-spacing: 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  line-height: 40px;
}
.om-table th, .om-table td {
  font-weight: normal;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.om-table th:first-child, .om-table td:first-child {
  border-left: 0;
}

/*search*/
.om-search {
  position: relative;
  height: 55px;
  padding: 10px 75px 10px 10px;
  background: #e6e4e1;
}
.om-search.om-search-default {
  background: #f78a24;
}
.om-search.om-search-default .om-search-btn {
  color: #f78a24;
}
.om-search .om-search-icon {
  position: absolute;
  left: 18px;
  top: 15px;
  width: 18px;
  height: 18px;
}
.om-search .om-search-close {
  position: absolute;
  right: 75px;
  top: 15px;
  width: 23px;
  height: 23px;
}
.om-search .om-search-close .iconfont {
  font-size: 20px;
}
.om-search .om-search-input {
  width: 100%;
  height: 35px;
  padding: 0 10px 0 30px;
  font-size: 16px;
  border-radius: 5px;
  background: #fff;
  color: #333;
}
.om-search .om-search-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 55px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #fff;
  color: #333;
  font-size: 14px;
  text-align: center;
}
.om-search .iconfont {
  color: #999;
}

/*loading*/
.om-load-mark {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  background: rgba(40, 40, 40, 0.75);
  text-align: center;
  border-radius: 5px;
  color: #FFFFFF;
  z-index: 1000;
}
.om-load-mark .om-load-content {
  margin-top: 64%;
  font-size: 14px;
}
.om-load-mark .om-loading {
  position: absolute;
  width: 0;
  left: 50%;
  top: 38%;
}
.om-load-mark .om-loading-line {
  position: absolute;
  top: -1px;
  opacity: 0.25;
}
.om-load-mark .om-loading-line:before {
  content: " ";
  position: absolute;
  width: 9.14px;
  height: 3.08px;
  background: #d1d1d5;
  box-shadow: rgba(0, 0, 0, 0.09804) 0 0 1px;
  border-radius: 1px;
  -webkit-transform-origin: left 50% 0;
  transform-origin: left 50% 0;
}

.om-loading-line-0 {
  -webkit-animation: opacity-0 1.25s linear infinite;
  animation: opacity-0 1.25s linear infinite;
}
.om-loading-line-0:before {
  -webkit-transform: rotate(0deg) translate(8px, 0px);
  transform: rotate(0deg) translate(8px, 0px);
}

.om-loading-line-1 {
  -webkit-animation: opacity-1 1.25s linear infinite;
  animation: opacity-1 1.25s linear infinite;
}
.om-loading-line-1:before {
  -webkit-transform: rotate(30deg) translate(8px, 0px);
  transform: rotate(30deg) translate(8px, 0px);
}

.om-loading-line-2 {
  -webkit-animation: opacity-2 1.25s linear infinite;
  animation: opacity-2 1.25s linear infinite;
}
.om-loading-line-2:before {
  -webkit-transform: rotate(60deg) translate(8px, 0px);
  transform: rotate(60deg) translate(8px, 0px);
}

.om-loading-line-3 {
  -webkit-animation: opacity-3 1.25s linear infinite;
  animation: opacity-3 1.25s linear infinite;
}
.om-loading-line-3:before {
  -webkit-transform: rotate(90deg) translate(8px, 0px);
  transform: rotate(90deg) translate(8px, 0px);
}

.om-loading-line-4 {
  -webkit-animation: opacity-4 1.25s linear infinite;
  animation: opacity-4 1.25s linear infinite;
}
.om-loading-line-4:before {
  -webkit-transform: rotate(120deg) translate(8px, 0px);
  transform: rotate(120deg) translate(8px, 0px);
}

.om-loading-line-5 {
  -webkit-animation: opacity-5 1.25s linear infinite;
  animation: opacity-5 1.25s linear infinite;
}
.om-loading-line-5:before {
  -webkit-transform: rotate(150deg) translate(8px, 0px);
  transform: rotate(150deg) translate(8px, 0px);
}

.om-loading-line-6 {
  -webkit-animation: opacity-6 1.25s linear infinite;
  animation: opacity-6 1.25s linear infinite;
}
.om-loading-line-6:before {
  -webkit-transform: rotate(180deg) translate(8px, 0px);
  transform: rotate(180deg) translate(8px, 0px);
}

.om-loading-line-7 {
  -webkit-animation: opacity-7 1.25s linear infinite;
  animation: opacity-7 1.25s linear infinite;
}
.om-loading-line-7:before {
  -webkit-transform: rotate(210deg) translate(8px, 0px);
  transform: rotate(210deg) translate(8px, 0px);
}

.om-loading-line-8 {
  -webkit-animation: opacity-8 1.25s linear infinite;
  animation: opacity-8 1.25s linear infinite;
}
.om-loading-line-8:before {
  -webkit-transform: rotate(240deg) translate(8px, 0px);
  transform: rotate(240deg) translate(8px, 0px);
}

.om-loading-line-9 {
  -webkit-animation: opacity-9 1.25s linear infinite;
  animation: opacity-9 1.25s linear infinite;
}
.om-loading-line-9:before {
  -webkit-transform: rotate(270deg) translate(8px, 0px);
  transform: rotate(270deg) translate(8px, 0px);
}

.om-loading-line-10 {
  -webkit-animation: opacity-10 1.25s linear infinite;
  animation: opacity-10 1.25s linear infinite;
}
.om-loading-line-10:before {
  -webkit-transform: rotate(300deg) translate(8px, 0px);
  transform: rotate(300deg) translate(8px, 0px);
}

.om-loading-line-11 {
  -webkit-animation: opacity-11 1.25s linear infinite;
  animation: opacity-11 1.25s linear infinite;
}
.om-loading-line-11:before {
  -webkit-transform: rotate(330deg) translate(8px, 0px);
  transform: rotate(330deg) translate(8px, 0px);
}

@-webkit-keyframes opacity-0 {
  0% {
    opacity: 0.25;
  }
  0.01% {
    opacity: 0.25;
  }
  0.02% {
    opacity: 1;
  }
  60.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes opacity-1 {
  0% {
    opacity: 0.25;
  }
  8.34333% {
    opacity: 0.25;
  }
  8.35333% {
    opacity: 1;
  }
  68.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes opacity-2 {
  0% {
    opacity: 0.25;
  }
  16.6767% {
    opacity: 0.25;
  }
  16.6867% {
    opacity: 1;
  }
  76.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes opacity-3 {
  0% {
    opacity: 0.25;
  }
  25.01% {
    opacity: 0.25;
  }
  25.02% {
    opacity: 1;
  }
  85.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes opacity-4 {
  0% {
    opacity: 0.25;
  }
  33.3433% {
    opacity: 0.25;
  }
  33.3533% {
    opacity: 1;
  }
  93.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes opacity-5 {
  0% {
    opacity: 0.270958333333333;
  }
  41.6767% {
    opacity: 0.25;
  }
  41.6867% {
    opacity: 1;
  }
  1.67667% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.270958333333333;
  }
}
@-webkit-keyframes opacity-6 {
  0% {
    opacity: 0.375125;
  }
  50.01% {
    opacity: 0.25;
  }
  50.02% {
    opacity: 1;
  }
  10.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.375125;
  }
}
@-webkit-keyframes opacity-7 {
  0% {
    opacity: 0.479291666666667;
  }
  58.3433% {
    opacity: 0.25;
  }
  58.3533% {
    opacity: 1;
  }
  18.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.479291666666667;
  }
}
@-webkit-keyframes opacity-8 {
  0% {
    opacity: 0.583458333333333;
  }
  66.6767% {
    opacity: 0.25;
  }
  66.6867% {
    opacity: 1;
  }
  26.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.583458333333333;
  }
}
@-webkit-keyframes opacity-9 {
  0% {
    opacity: 0.687625;
  }
  75.01% {
    opacity: 0.25;
  }
  75.02% {
    opacity: 1;
  }
  35.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.687625;
  }
}
@-webkit-keyframes opacity-10 {
  0% {
    opacity: 0.791791666666667;
  }
  83.3433% {
    opacity: 0.25;
  }
  83.3533% {
    opacity: 1;
  }
  43.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.791791666666667;
  }
}
@-webkit-keyframes opacity-11 {
  0% {
    opacity: 0.895958333333333;
  }
  91.6767% {
    opacity: 0.25;
  }
  91.6867% {
    opacity: 1;
  }
  51.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.895958333333333;
  }
}
.om-list-load {
  text-align: center;
  font-size: 13px;
  vertical-align: middle;
  line-height: 30px;
}
.om-list-load .om-list-loading {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  margin-top: -3px;
  border: 2px solid #666;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*mask*/
.om-mask {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

/*popup*/
.om-popup {
  position: fixed;
  top: 150px;
  left: 50%;
  display: none;
  width: 300px;
  margin-left: -150px;
  border: 1px solid #efefef;
  background: #fff;
  text-align: center;
  border-radius: 3px;
  z-index: 1001;
}
.om-popup .om-popup-title {
  height: 45px;
  line-height: 45px;
}
.om-popup .om-popup-cont {
  height: 90px;
  line-height: 90px;
  background: #f9f9f9;
  font-size: 16px;
  color: #555;
  box-shadow: 0 0 10px #ddd inset;
}
.om-popup .om-popup-btn-div {
  height: 45px;
  line-height: 45px;
}
.om-popup .om-popup-btn-div a {
  float: left;
  width: 100%;
  height: 45px;
  font-size: 16px;
  color: #888;
}
.om-popup .om-popup-btn-div a:last-child {
  color: #ff6000;
  border-left: 1px solid #efefef;
}
.om-popup .om-popup-btn-div a:active {
  background: #f3f3f3;
}
.om-popup .om-popup-btn-two a {
  width: 50%;
}

/*actionsheet*/
.om-actionsheet {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  z-index: 1001;
  transform: translate3d(0, 240px, 0);
  transition: transform .3s;
}
.om-actionsheet .om-actionsheet-cnt {
  margin-bottom: 10px;
  border-radius: 3px;
  background: #fff;
  color: #0e90d2;
}
.om-actionsheet .om-actionsheet-cnt li {
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  border-top: 1px solid #eee;
}
.om-actionsheet .om-actionsheet-cnt li:first-child {
  border: 0;
}
.om-actionsheet .om-actionsheet-cnt .om-actionsheet-header {
  font-size: 14px;
  color: #999;
}
.om-actionsheet .om-actionsheet-cancel {
  display: block;
  height: 44px;
  line-height: 44px;
  border-radius: 3px;
  background: #fff;
  color: #fd472b;
}
.om-actionsheet .om-actionsheet-cancel:active {
  background: #efefef;
}
.om-actionsheet.om-actionsheet-active {
  transform: translate3d(0, 0, 0);
}

/*poptips*/
.om-poptips-top, .om-poptips-btm {
  position: fixed;
  left: 50%;
  margin-left: -150px;
  z-index: 1000;
  width: 300px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
}

.om-poptips-top {
  top: 0;
  transform: translateY(-40px);
  transition: transform .3s;
}
.om-poptips-top.om-poptips-active {
  transform: translateY(0);
}

.om-poptips-btm {
  bottom: 100px;
  display: none;
}
.om-poptips-btm.om-poptips-active {
  display: block;
}

/*tab*/
.om-tab .om-tab-nav {
  display: table;
}
.om-tab .om-tab-nav > li {
  display: table-cell;
  width: 1%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.om-tab .om-tab-nav > li.om-tab-active {
  border-bottom: 3px solid #f78a24;
  color: #f78a24;
}
.om-tab .om-tab-cnt {
  padding-top: 10px;
}
.om-tab .om-tab-cnt > li {
  display: none;
}
.om-tab .om-tab-cnt > li.om-tab-active {
  display: block;
}

/*sidebar*/
.om-sidebar {
  position: fixed;
  top: 0;
  width: 75%;
  height: 100%;
  z-index: 1005;
  background: #fff;
  transition: transform .3s;
}
.om-sidebar.om-sidebar-left {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}
.om-sidebar.om-sidebar-right {
  right: 0;
  transform: translate3d(100%, 0, 0);
}
.om-sidebar.om-sidebar-active {
  transform: translate3d(0, 0, 0);
}
.om-sidebar .om-sidebar-cnt {
  float: left;
  width: 100%;
  height: 100%;
}

/*slider*/
.om-slider-wrap {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: box;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.om-slider-wrap ul {
  width: 100%;
}
.om-slider-wrap .om-slider {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: box;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  overflow: hidden;
}
.om-slider-wrap .om-slider img {
  width: 100%;
}
.om-slider-wrap .om-slider .om-slider-title {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: #fff;
  text-align: left;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.6);
}
.om-slider-wrap .om-pagination {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  line-height: 1;
  text-align: center;
}
.om-slider-wrap .om-pagination span {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  margin: 0 3px;
  vertical-align: middle;
}
.om-slider-wrap .om-pagination span.active {
  background: #f78a24;
}

/*# sourceMappingURL=omui.css.map */
